/* Write your CSS here */
.match-card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 216, 230, 0.3);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: 100%;
}
li {
  list-style: none;
}
.competing-team-logo {
  width: 90px;
  height: 80px;
  margin: 10px;
}
